<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ (level | async).title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let x of (level | async).exercises; let i = index">
      <ng-container *ngIf="x.length === 1">
        <ion-item>
          <exercise [exercise]="x[0]"></exercise>
        </ion-item>
      </ng-container>
      <ng-container *ngIf="x.length > 1">
        <ion-slides pager (ionSlideDidChange)="slideChanged($event, i)">
          <ion-slide *ngFor="let e of x">
            <ion-item>
              <exercise [exercise]="e"></exercise>
            </ion-item>
          </ion-slide>
        </ion-slides>
      </ng-container>
    </ng-container>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="launchSession()" color="secondary">
      <ion-icon name="play"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
