page-loading {
  ion-content {
    background-color: color($colors, primary) !important;

    svg {
      height: 20rem;
      fill: color($colors, secondary);
    }

    h1 {
      color: color($colors, secondary);
      text-transform: uppercase;
    }

    p {
      color: color($colors, secondary);
    }
  }
}
